<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
<!-- Header -->
<header id="header" class="alt">
    <div class="logo"><a href="/">Hielo <span>by TEMPLATED</span></a></div>
    <a href="#menu">Menu</a>
</header>

<!-- Nav -->
<nav id="menu">
    <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="generic">Generic</a></li>
        <li><a href="elements">Elements</a></li>
    </ul>
</nav>


{% block content %}
{% endblock %}

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
    </div>
</footer>

<div class="copyright">
    Made with <a href="https://templated.co/">Templated</a>.
</div>
<!-- Scripts -->
<script src="../../static/js/jquery.min.js"></script>
<script src="../../static/js/jquery.scrollex.min.js"></script>
<script src="../../static/js/skel.min.js"></script>
<script src="../../static/js/util.js"></script>
<script src="../../static/js/main.js"></script>

</body>
</html>